.landing-select {
    position: relative;
    .chevron-down {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 10px;
        font-size: 14px;
        color: $secondary-clr;
    }
    select {
        width: 120px;
        height: 30px;
        padding-left: 10px;
        border: 2px solid $secondary-clr;
        border-radius: $radius;
        text-transform: capitalize;
        appearance: none;
    }
}