.intro-title {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.6;
    text-transform: capitalize;
    color: $secondary-clr;
}

.sub-text {
    margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
    letter-spacing: 1px;
    color: $secondary-clr;
}